body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
}

header,
footer {
  text-align: center;
}
header img {
  width: 50px;
}

#paavalikko a {
  color: red;
  text-decoration: none;
}

#sivunavigointi ul {
  padding-left: 10px;
  width: 8em;
  border-right: solid 1px blue;
}

#sivunavigointi a {
  text-decoration: none;
  color: red;
}
#sivunavigointi li {
  list-style-type: none;
}
#kahvit {
  margin-left: 10px;
  column-count: 3;
  column-rule: solid 1px rgb(204, 204, 204);
}

h1 {
  color: red;
  font-family: Tahoma, sans-serif;
}

.tuotekuva {
  width: 80%;
  display: block;
  margin: auto;
  border: 2px blue solid;
  border-radius: 5px;
}
.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex_item {
  flex: 1;
  padding-right: 5px;
  padding-left: 5px;
}
.flex_item_1 {
  width: 9em;
}
.flex_item_2 {
  flex: 1;
}
.leivonnaiset .flex_item {
  flex: 0 0 45%;
}
.open li {
  list-style-type: none;
}
.open span {
  width: 6em;
  display: inline-block;
}

/* ***************************************
 näyttö < 420px
*************************************** */

@media only screen and (max-width: 420px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  #paavalikko ul {
    padding-left: 5px;
    border-bottom: solid 1px rgb(84, 148, 171);
  }

  #paavalikko li {
    list-style-type: none;
    text-align: left;
    font-size: 1.3em;
    margin: 2px 0px;
  }

  #kahvit {
    column-count: 1;
  }
  .flex_item_1 {
    display: none;
  }
}
/* ***************************************
 näyttö > 420px
*************************************** */

@media only screen and (min-width: 421px) {
  .flex_container {
    display: flex;
  }

  .flex_item {
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
  }

  main {
    background-image: url(kuvat/tausta_kuppi.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  #paavalikko ul {
    padding-left: 0px;
  }

  #paavalikko li {
    display: inline-block;
    width: 6.5em;
    border: solid 1px rgb(0, 0, 255);
  }
}

#sivunavigointi ul {
  padding-left: 10px;
  width: 8em;
  border-right: solid 1px blue;
}

#sivunavigointi a {
  text-decoration: none;
  color: red;
}

#sivunavigointi li {
  list-style-type: none;
}

#kahvit {
  margin-left: 10px;
}

/* ***************************************
 näyttö > 1024px
*************************************** */

@media only screen and (min-width: 1024px) {
  :root {
    background-image: url(kuvat/tausta_100.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    width: 80%;
    margin: 5px auto;
    border: 2px black solid;
  }
}
